In [2]:
import pandas as pd

titanic = pd.read_csv('data/titanic.csv')
netflix = pd.read_csv('data/netflix_titles.csv', delimiter='|')
houses  = pd.read_csv('data/kc_house_data.csv')

In [3]:
titanic['name'] # or titanic.name

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [5]:
type(titanic['name'])

pandas.core.series.Series

['column_name'] notation is better than .column_name notation, if a name has a space or character in it, dot notation will no work

In [7]:
titanic['home.dest'] # this works, titanic.home.dest does not

0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1304                                  ?
1305                                  ?
1306                                  ?
1307                                  ?
1308                                  ?
Name: home.dest, Length: 1309, dtype: object

In [16]:
for col in titanic.columns:
    titanic[col] # this works .col would not

#### A series is a pandas data structure, it is a one dimensional array with labels, a dataframe is a combination of many series

In [17]:
houses['price'].sum()

11672925008.0

In [19]:
houses['price'].max() # many of the df methods work on series as well

7700000.0

In [26]:
names = titanic['name']

In [27]:
names.shape  # one dimensional, shows the number of values

(1309,)

In [28]:
titanic.shape

(1309, 14)

In [33]:
names_array = names.values # returns a numpy array of the values

In [34]:
type(names_array)

numpy.ndarray

In [41]:
min_houses = houses.min(numeric_only=True)
min_houses

id               1.000102e+06
price            7.500000e+04
bedrooms         0.000000e+00
bathrooms        0.000000e+00
sqft_living      2.900000e+02
sqft_lot         5.200000e+02
floors           1.000000e+00
waterfront       0.000000e+00
view             0.000000e+00
condition        1.000000e+00
grade            1.000000e+00
sqft_above       2.900000e+02
sqft_basement    0.000000e+00
yr_built         1.900000e+03
yr_renovated     0.000000e+00
zipcode          9.800100e+04
lat              4.715590e+01
long            -1.225190e+02
sqft_living15    3.990000e+02
sqft_lot15       6.510000e+02
dtype: float64

In [42]:
min_houses.index # labels of min_houses series

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [43]:
names.index # numerical indices range

RangeIndex(start=0, stop=1309, step=1)

In [45]:
# .head() .tail() work the same on series, returning a subset series of the series they are called on
names.tail(10)

1299                        Yasbeck, Mr. Antoni
1300    Yasbeck, Mrs. Antoni (Selini Alexander)
1301                       Youseff, Mr. Gerious
1302                          Yousif, Mr. Wazli
1303                      Yousseff, Mr. Gerious
1304                       Zabour, Miss. Hileni
1305                      Zabour, Miss. Thamine
1306                  Zakarian, Mr. Mapriededer
1307                        Zakarian, Mr. Ortin
1308                         Zimmerman, Mr. Leo
Name: name, dtype: object

In [53]:
prices = houses['price']
prices.describe() # returns a series

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [55]:
ratings = netflix['rating']
ratings.describe() # shows stats relating to objects since the series dtype is an object

count      8803
unique       17
top       TV-MA
freq       3207
Name: rating, dtype: object

In [58]:
ratings.dtype

dtype('O')

In [62]:
netflix.dtypes

Unnamed: 0       int64
show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object